

/* Style for the MainContent */
#main-content{
  background-image: url("./artwork/fire-gradient.jpg");
  background-repeat: none;
  background-size: cover;
}

.topic-main{
  margin: 0;
  padding: 10px 20px;
  color: #f0e4fd;
  font-size: 1.20em;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));  
    column-gap: 20px;   
    row-gap: 20px; 
    border-bottom: #2142ac solid 8px;
    padding-bottom: 20px; 
    margin-top: 20px;
    justify-content: center;
  }
  
  .image-column {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: #2142ac solid 2px;
  }