---

import MainLayout from '../layouts/MainLayout.astro';
import MainContent from '../components/MainContent.astro';
import Gallery from '../components/Gallery.astro';
---

<!DOCTYPE html> 

<body>
    <MainLayout title="PluckCode and Grah's 3D Rendering, Photogrammetry Modeling" 
                description="3D rendered images and photogrammetry modeling, with Astro, Aframe, and BabylonJS technologies">
        <MainContent topic="3D Rendered Images, Photogrammetry Modeling">
            <Gallery />
        </MainContent>
        
    </MainLayout>
</body>


