---
import '../styles/footerstyle.css';
---
<footer class="footer">
    <article class="footer-container">
        <section class="service">
            <h3>Our Services</h3>
            <ul class="service-group">
                <li>3D Rendering</li>
                <li>Photogrammetry Modeling</li>
                <li>Website Design</li>
                <li>E-commerce Design</li>
                <li>Art Gallery Design</li>
                <li>Event Banner Design</li>
            </ul>
        </section>
        <section class="product">
            <h3>Our Products</h3>
            <ul class="product-group">
                <li>Wall Desk Calenders</li>
                <li>Posters & Framed</li>
                <li>Journals & Notebooks</li>
                <li>Matte & Framed Canvas</li>
                <li>Magnets & Stickers</li>
                <li>Mugs & Tumblers</li>
            </ul>
        </section>
        <section class="company">
            <h3>Our Company</h3>
            <ul class="company-group">
                <li>Services & Solutions</li>
                <li>Promise & Values</li>
                <li>Skills & Expertise</li>
                <li>FAQ & Contact</li>
                <li>Privacy Policy</li>
                <li>Payment Terms</li>
            </ul>
        </section>
    </article>
</footer>